
body{
	font-family: sans-serif;
	background-color: aquamarine;
	margin: 0;
	padding: 0;
	z-index: 0;
}

header{
	display: flex;
	flex-direction: column;
	gap: 0;
	justify-content: space-evenly;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: stretch;
	
}

nav {
	/*margin-bottom: 20px;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	
	position: relative;
	
	text-decoration-line: underline overline;
	color: #000000;
	background-color: #FFFFFF;
	

	height: 100vh;
	width: 100%;
	/*row-gap: 17vh; */
	text-align: center;
}


nav a{
	color: inherit;
	text-align: center;
	width: 100%;
}

nav a:hover{
	color: #0000FF;
}

nav a:visited{
	color: inherit;
}

#photo{
	margin: 0;
	display: flex;
	align-items: center;
	width: 100vw;
	height: auto;
	
	justify-content: center;
}

#titre_metier{
	background-color: #FFFFFF;
	padding: 1em;
	z-index: 1;
	position: relative;
	top: -40px;
	margin-bottom: 0;
}


#nom_et_prenom{
	background-color: #B2B2B2;
	margin-top: 0;
	margin-bottom: 5em;
	padding: 0;
}

.ensemble_cartes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.carte{
	
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 10px;
	width: 48vw;
	
}

.img-carte{
	
	width: 100%;
	height: 135px;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}

.image {
	width: 134px;
	height: 134px;	
}

.jauge_xp{
	width: 80%;
    height: 15px;
    
    border: 2px solid black;
}

.niveau_1sur5{
	background: linear-gradient(to right, yellow 20%, transparent 20% );
}

.niveau_2sur5{
	background: linear-gradient(to right, yellow 40%, transparent 40% );
}

.niveau_3sur5{
	background: linear-gradient(to right, yellow 60%, transparent 60% );
}

.niveau_4sur5{
	background: linear-gradient(to right, yellow 80%, transparent 80% );
}


.niveau_5sur5{
	background: yellow;
}

h3, h4 {
	font-weight: bolder;
}

h3{
	text-decoration-line: underline;
}

h4{
	margin: 0;
}



.titre_et_date{
	display: block;
	margin: 0;
}


.titre_et_date h4:first-child {
	background-color: #BFA22D;
}

.titre_et_date h4:last-child {
	background-color: #BFB797;
}


@media screen and (min-width: 600px) {
	nav{
		flex-direction: row;
		height: 70px;
	}
	
	#description_metier{
		margin: 10px;
		width: 70vw;
		display: flex;
		flex-direction: column-reverse;
	}
	
	#pas_de_nav{
		background-color: bisque;
		display: flex;
		flex-direction: row-reverse;
	}
	
	h1{
		font-size: 30px;
	}
	
	#nom_peter{
		text-align: center;
	}
	
	#titre_metier{
		top: 0;
		height:30%;
		text-align: center;
		
	}
	
	#nom_et_prenom{
		margin: 0;
		height: 70%;
	}
	
	#photo{
		width: 30vw;
		
	}
	
	#photo_peter{
		margin: 10px;
		height: 80vh;
		width: auto;
	}
	
	main{
		margin: 0 15px 0 15px;
	}
	
	.titre_et_date{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	
	.carte{
		margin-right: 10px;
		width: 200px;
		
	}
}

@media screen and (min-width: 1250px) {
	nav{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		row-gap: 0;
	}
	
	#reste{
		margin-top: 70px;
		display: flex;
		flex-direction: row;
	}
	
	#pas_de_nav{
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: fixed;
		height: 100vh;
		width: 30vw;
		
	}
	
	#photo{
	
		width: 200px;
		overflow: hidden;
	}
	
	#photo_peter{
		position: fixed;
		top: 80px;
		left: 85px;
		width: 250px;
		height: auto;
	}
	
	#titre_metier{
		padding: 0;
		display: flex;
		justify-content: center;
		position: fixed;
		top: 400px;
		left: 110px;
		width: 250px;
		height: 80px;
	}
	
	#nom_et_prenom{
		position: fixed;
		top: 500px;
		left: 5px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 29vw;
		height: auto;
	
		
	}
	
	h1{
		font-size: 25px;
	}
	
	main{
		margin-left: 30vw;
		padding: 0 10px 0 10px;
		width: 70vw;
	}
	
	.exp_ecran_pc{
		display: flex;
		flex-direction: row;
	}
	
	.sous-section{
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
		width: 50%;
	}
}



